<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title style="text-align: left">Welcome Flash</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 class="center" style="text-align: center">Select Sets</h3>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  <!--<ion-card>
    <ion-card-content>
      <ion-card-title>
        Björk
      </ion-card-title>
      <p>
        Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the Sugarcubes, but when...
      </p>
    </ion-card-content>
  </ion-card>-->
</ion-content>
